body {
  background-image: url("/Users/Matt/Desktop/Pizza-Parlor/img/parlor-background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: auto;
}

